* {
  box-sizing: border-box;
  margin: 0;
}

.input-control{
  width: 100%;
  border-radius: 10px;
  outline: none;
  line-height: 30px;
  padding: 5px 10px;
  border: 1px solid #222;
  background: none;
}
